# Angular / Node
node_modules/
dist/
.angular/
.sass-cache/
*.js.map

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
.mvn/
*.iml
.idea/

# Capacitor / Android
lumiereMobile/android/
lumiereMobile/.angular/
lumiereMobile/node_modules/

# Env / Secrets
*.env
.env.*

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
Antigravity.exe
