<div class="sidenav"  >
    <a  >
        <p ><i class="fas fa-home"></i> Dashboard</p>
    </a>
    <a >
        <p><i class="fas fa-archive"></i> Gestion des Articles</p>
    </a>
    <a >
        <p><i class="fas fa-users"></i> Gestion des Clients</p>
    </a>
    <a >
        <p><i class="fas fa-tasks"></i> Gestion des Ordres</p>
    </a>
    <a >
        <p><i class="fas fa-user-cog"></i> Gestion des Utilisateurs</p>
    </a>
    <a >
        <p class="logout"><i class="fas fa-sign-out-alt"></i> LogOut</p>
    </a>
</div>



