<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding forgot-content">
  <div class="header-section">
    <h2>Réinitialisation</h2>
    <p>Veuillez entrer votre adresse email pour recevoir un code de réinitialisation.</p>
  </div>

  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="forgot-form">
    <div class="input-group">
      <ion-icon name="mail-outline" class="input-icon"></ion-icon>
      <ion-input type="email" formControlName="email" placeholder="Adresse Email" class="custom-input"></ion-input>
    </div>

    <ion-button expand="block" type="submit" [disabled]="forgotForm.invalid || isLoading" class="submit-btn">
      <span *ngIf="!isLoading">Envoyer le code</span>
      <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
