<button (click)="generatePDF()" style="margin-top: 2%; float: right; margin-right: 5%; font-size: larger;">  <i class="fas fa-file-pdf"></i>Télécharger en PDF</button>
<div class="ordre-container"  id="htmlData">
  <h2>Ordre Details</h2>
  <ul>
    <li><strong>Matricule:</strong> {{ ordre.matricule }}</li>
    <li><strong>Client:</strong> {{ ordre.client }}</li>
    <li><strong>Nom du Client:</strong> {{ ordre.nomclient }}</li>
    <li><strong>Site Client:</strong> {{ ordre.siteclient }}</li>
    <li><strong>ID EDI:</strong> {{ ordre.idedi }}</li>
    
    <li><strong>Code Client Chargement:</strong> {{ ordre.codeclientcharg }}</li>
    <li><strong>Chargement Nom:</strong> {{ ordre.chargementNom }}</li>
    <li><strong>Chargement Adresse 1:</strong> {{ ordre.chargementAdr1 }}</li>
    <li><strong>Chargement Adresse 2:</strong> {{ ordre.chargementAdr2 }}</li>
    <li><strong>Chargement Ville:</strong> {{ ordre.chargementVille }}</li>
    <li><strong>Chargement Date:</strong> {{ ordre.chargementDate | date }}</li>
    
    <li><strong>Code Client Livraison:</strong> {{ ordre.codeclientliv }}</li>
    <li><strong>Livraison Nom:</strong> {{ ordre.livraisonNom }}</li>
    <li><strong>Livraison Adresse 1:</strong> {{ ordre.livraisonAdr1 }}</li>
    <li><strong>Livraison Adresse 2:</strong> {{ ordre.livraisonAdr2 }}</li>
    <li><strong>Code Postal Livraison:</strong> {{ ordre.codepostalliv }}</li>
    <li><strong>Livraison Ville:</strong> {{ ordre.livraisonVille }}</li>
    <li><strong>Livraison Date:</strong> {{ ordre.livraisonDate | date }}</li>
    
    <li><strong>Code Article:</strong> {{ ordre.codeArticle }}</li>
    <li><strong>Désignation:</strong> {{ ordre.designation }}</li>
    
    <li><strong>Poids:</strong> {{ ordre.poids }}</li>
    <li><strong>Volume:</strong> {{ ordre.volume }}</li>
    <li><strong>Nombre de Palettes:</strong> {{ ordre.nombrePalettes }}</li>
    <li><strong>Nombre de Colis:</strong> {{ ordre.nombreColis }}</li>
    <li><strong>Longueur:</strong> {{ ordre.longueur }}</li>
    
    <li><strong>Date de Saisie:</strong> {{ ordre.dateSaisie | date }}</li>
    <li><strong>Statut:</strong> {{ ordre.statut }}</li>
    
    <li><strong>Commentaires:</strong> 
      <ul>
        <li *ngFor="let commentaire of ordre.commentaires">{{ commentaire }}</li>
      </ul>
    </li>
</ul>
</div>



